* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: static;
    width: 100vw;
    text-align: justify;
    font-size: 1em;
    color: white;
    font-family: sans-serif;
    background: white;
    background-image: url("imagenes/double-bubble-dark.png");
}

nav {
    background: #222;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

menu li {
    font-size: 1em;
    padding: .9em .3em;
    white-space: nowrap;
}

#header-img {
    width: 11vw;

}

#container{
 display: grid;
 grid-template-columns: repeat(12,1fr);
}

#home{
    background: rgba(255, 251, 251, 0.3);
    padding: 2em 1em;
    grid-column: 1/13;
    border-radius: 10%;
}
#home>h1{
    text-align: center;
    font-size: 3em;
}

#about{
    display: grid;
    grid-column: 1/13;    
    grid-template-columns: repeat(5, 1fr) ;
}
#about>img{
    padding-top: 2em;
    width: 100%;
    grid-column: 2/5;
    }
#about>p{
    grid-column: 1/6;
    padding: 1em 2em;
}

/*Menu para celulares*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.item.button {
    padding: 0em 1em;
    order: 1;
}

.nav-link {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}



/*Tabletas*/
@media all and (min-width:600px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
        text-align: right;
    }

    .item.button {
        width: auto;
        order: 0;
        display: block;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: .5em 1em;
        background: teal;
        border: 1px #006d6d solid;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover {
        color: #ddd;
    }

    .menu li {
        padding: 1em .4em;
    }

    .nav-link {
        display: block;
        width: auto;
        order: 1;
    }

    .menu li.button {
        padding: 0;
    }

    #header-img {
        max-width: 3.2em;
    }
}