* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: static;
    width: 100vw;
    text-align: justify;
    font-size: 1em;
    color: white;
    font-family: sans-serif;
    background: white;
    background-image: url("https://github.com/GuillermoCruz93/Product-Landing/blob/main/imagenes/double-bubble-dark.png?raw=true");
}

nav {
    background: #222;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

menu li {
    font-size: 1em;
    padding: .9em .3em;
    white-space: nowrap;
}

#header-img {
    width: 20vw;

}
#header{
    position: fixed;
    width: 100%;
    z-index: 10;
    font-size: 1.5em;
}
#container{
 display: grid;
 grid-template-columns: repeat(12,1fr);
 padding-top: 7em;
 width: 100vw;
}

#home{
    background: rgba(255, 251, 251, 0.3);
    padding: 2em 1em;
    grid-column: 1/13;
    border-radius: 10%;
    
}
#home>h1{
    text-align: center;
    font-size: 4em;
}
#home>p{
    font-size: 2em;
}

#about{
    display: grid;
    grid-column: 1/13;    
    grid-template-columns: repeat(5, 1fr) ;
    justify-items: center;
}
#about>img{
    padding-top: 2em;
    width: 70%;
    grid-column: 2/5;
    }
#about>p{
    grid-column: 1/6;
    padding: 1em 3em;
    font-size: 1.8em;
}

.form{
    display: grid;
    grid-column: 1/13;
    grid-template-columns: repeat(5,1fr);
 
    background: rgba(255, 253, 253, 0.3);
    border-radius: 10%;
    margin: 2em 2em;
}
form{
    grid-column: 2/5;    
}
.form>h1{
    grid-column: 2/5;
    text-align: center;
    padding-top: 1.6em;
}
#email{
    width: 100%;
    margin-top: 1em;
}
#submit{
    margin-top: .5em;
    width: 40%;
    margin-bottom: 4em;
}

#video{
    width: 0;
}
.video{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
}
 iframe{
     margin-top: 2em;
     margin-bottom: 2em;
     width: 100%;
     grid-column: 2/12;
 }

 #price{
     grid-column: 1/13;
     grid-template-columns: repeat(8, 1fr);
     display: grid;
 }
 #price>div{
     grid-column: 2/8;
     border: cornsilk 1px solid;
     margin: 1em 0em;
     text-align: center;
 }
 
 #price>div>.price{
     font-size: 3.5em;
    text-align: center;
    padding: .7em 0em;
    font-weight: bold;
    }

#price>div>h1{
    font-size: 2.5em;
    background-color: rgba(128, 123, 123, 0.7);
}
#price>div>p{
    font-size: 1.5em;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.item.button {
    padding: 0em 1em;
    order: 1;
}

.nav-link {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}

#footer{
    background-color: rgba(128, 123, 123, 0.7);
    grid-column: 1/13;
    text-align: center;
    padding: 1em 1em;
    text-align: 2em;
}



/* Tablets (portrait) -------------------- */
@media only screen 
and (min-device-width : 768px) 
{
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
        text-align: right;
    }

    .item.button {
        width: auto;
        order: 0;
        display: block;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: .5em 1em;
        background: teal;
        border: 1px #006d6d solid;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover {
        color: #ddd;
    }

    .menu li {
        padding: 1em .4em;
    }

    .nav-link {
        display: block;
        width: auto;
        order: 1;
    }

    .menu li.button {
        padding: 0;
    }

    #header-img {
        max-width: 3.2em;
    }

    #home{
        grid-column: 3/11;
    }

    #about{
        grid-template-columns: repeat(12, 1fr);
    }
    #about>img{
        margin: 2em 2em;
        width: 100%;
        grid-column: 3/5;
        align-self: center;
        }
    #about>p{
        align-self: center;
        grid-column: 5/12;
        padding: 3em 3em;
        font-size: 1.8em;
    }

    .form{
       grid-column: 4/10;

    }
    
    iframe{
        grid-column: 5/9;
        width: 100%;
    }

    #price{
        display: flex;
       padding: 0em 4em;
    }
    #price>div{
        margin: 1em 1.5em;
        
        align-content: center;

    }
}